<!doctype html>

<html lang="en" class="light-style layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default"
    data-assets-path="../../static/assets/" data-template="horizontal-menu-template" data-style="light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Start Screen</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../static/assets/img/favicon/hx.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap"
        rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="../../static/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="../../static/assets/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="../../static/assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->

    <link rel="stylesheet" href="../../static/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../../static/assets/vendor/css/rtl/theme-default.css"
        class="template-customizer-theme-css" />

    <link rel="stylesheet" href="../../static/assets/css/demo.css" />
    <link rel="stylesheet" href="../../static/assets/css/style.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../../static/assets/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="../../static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="../../static/assets/vendor/libs/typeahead-js/typeahead.css" />
    <!-- Vendor -->
    <link rel="stylesheet" href="../../static/assets/vendor/libs/apex-charts/apex-charts.css" />
    <link rel="stylesheet" href="../../static/assets/vendor/libs/swiper/swiper.css" />
    <link rel="stylesheet" href="../../static/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="../../static/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet"
        href="../../static/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="../../static/assets/vendor/css/pages/page-misc.css" />

    <!-- Helpers -->
    <script src="../../static/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->

    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="../../static/assets/vendor/js/template-customizer.js"></script>

    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../../static/assets/js/config.js"></script>
</head>

<body>
    <!-- Content -->
    <div class="container-xxl container-p-y py-4 d-flex flex-column justify-content-center min-vh-100">
        <div class="text-center">
            <h1 class="mb-2 mx-2 fw-bold">Welcome to HIREXCEL</h1>
            <p class="mb-6 mx-2 fs-3">Please Select Your Role</p>
        </div>
        <div class="row g-6 justify-content-center">

            <!-- Card Border Shadow -->
            <div class="col-lg-4 col-sm-6">
                <a href="jobseeker_login" class="text-decoration-none">
                    <div class="card card-border-shadow-warning h-100">
                        <div class="card-body job_seeker">
                            <div class="d-flex justify-content-center mb-2">
                                <div class="avatar">
                                    <span class="avatar-initial rounded-circle bg-label-warning"><i
                                            class="fa-solid fa-briefcase ti-48px"></i></span>
                                </div>
                            </div>
                            <h3 class="mb-1 d-flex justify-content-center fw-bold">Job Seeker</h3>
                            <p class="mb-0 d-flex justify-content-center">Start as Job Seeker</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="recruiter_login" class="text-decoration-none">
                    <div class="card card-border-shadow-danger h-100">
                        <div class="card-body recruiter">
                            <div class="d-flex justify-content-center mb-2">
                                <div class="avatar">
                                    <span class="avatar-initial rounded-circle bg-label-danger"><i
                                            class="fa-solid fa-users ti-48px"></i></span>
                                </div>
                            </div>
                            <h3 class="mb-1 d-flex justify-content-center fw-bold">Recruiter</h3>
                            <p class="mb-0 d-flex justify-content-center">Start as Recruiter</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--/ Card Border Shadow -->

        </div>
        <div class="mt-12 d-flex justify-content-center">
            <img src="../../static/assets/img/illustrations/page-misc-under-maintenance.png"
                alt="page-misc-under-maintenance" width="550" class="img-fluid">
        </div>
    </div>
    <div class="container-fluid misc-bg-wrapper">
        <img src="../../static/assets/img/illustrations/bg-shape-image-light.png" height="355"
            alt="page-misc-coming-soon" data-app-light-img="illustrations/bg-shape-image-light.png"
            data-app-dark-img="illustrations/bg-shape-image-dark.png">
    </div>
    <!-- Content -->


    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="../../static/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../../static/assets/vendor/libs/popper/popper.js"></script>
    <script src="../../static/assets/vendor/js/bootstrap.js"></script>
    <script src="../../static/assets/vendor/libs/node-waves/node-waves.js"></script>
    <script src="../../static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../../static/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="../../static/assets/vendor/libs/i18n/i18n.js"></script>
    <script src="../../static/assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="../../static/assets/vendor/js/menu.js"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../../static/assets/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="../../static/assets/vendor/libs/swiper/swiper.js"></script>
    <script src="../../static/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>

    <!-- Main JS -->
    <script src="../../static/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../../static/assets/js/dashboards-analytics.js"></script>
</body>

</html>