<!doctype html>

<html lang="en" class="light-style layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default"
    data-assets-path="../../static/assets/" data-template="horizontal-menu-template" data-style="light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Job Post</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../static/assets/img/favicon/hx.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="../../static/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="../../static/assets/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="../../static/assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->

    <link rel="stylesheet" href="../../static/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../../static/assets/vendor/css/rtl/theme-default.css"
        class="template-customizer-theme-css" />

    <link rel="stylesheet" href="../../static/assets/css/demo.css" />
    <link rel="stylesheet" href="../../static/assets/css/style.css " />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../../static/assets/vendor/libs/node-waves/node-waves.css" />

    <link rel="stylesheet" href="../../static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="../../static/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="../../static/assets/vendor/libs/apex-charts/apex-charts.css" />
    <link rel="stylesheet" href="../../static/assets/vendor/libs/swiper/swiper.css" />
    <link rel="stylesheet" href="../../static/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="../../static/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet"
        href="../../static/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css" />
    <link rel="stylesheet" href="../../static/assets/vendor/libs/flatpickr/flatpickr.css" />
    <link rel="stylesheet" href="../../static/assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="../../static/assets/vendor/libs/tagify/tagify.css" />
    <link rel="stylesheet" href="../../static/assets/vendor/libs/bootstrap-select/bootstrap-select.css" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="../../static/assets/vendor/css/pages/cards-advance.css" />

    <!-- Helpers -->
    <script src="../../static/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->

    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="../../static/assets/vendor/js/template-customizer.js"></script>

    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../../static/assets/js/config.js"></script>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
        <div class="layout-container">
            <!-- Navbar -->

            <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
                <div class="container-xxl">
                    <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
                        <a href="{% url 'recruiter_home' %}" class="app-brand-link">
                            <span class="app-brand-logo demo">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.78 487.47">
                                <g style="isolation: isolate;">
                                  <g id="Layer_2" data-name="Layer 2">
                                    <g id="OBJECTS">
                                      <g>
                                        <g>
                                          <path d="m353.78,131.18v178.34c-22.45-44.78-122.35-74.91-122.35-74.91v-117.55c0-70.95,101.99-83.97,118.85-15.05,2.29,9.35,3.5,19.12,3.5,29.17Z" style="fill: #7367f0;"/>
                                          <path d="m0,366.49v-178.34c22.45,44.78,122.35,74.91,122.35,74.91v106.66c0,78.16-116.8,83.13-122.07,5.15-.19-2.77-.28-5.56-.28-8.38Z" style="fill: #7367f0;"/>
                                        </g>
                                        <path d="m353.77,247.77v47.58c-22.45-44.78-122.35-74.91-122.35-74.91v-52.94h.82c54.16,0,101.32,32.67,121.54,80.27Z" style="fill: #1f1e21; mix-blend-mode: overlay; opacity: .2;"/>
                                        <path d="m0,239.69v-47.58c22.45,44.78,122.35,74.91,122.35,74.91v52.94h-.82c-54.16,0-101.32-32.67-121.54-80.27Z" style="fill: #1f1e21; mix-blend-mode: overlay; opacity: .2;"/>
                                        <g>
                                          <path d="m353.77,290.87v74.25c0,15.36-2.84,30.08-8.02,43.62-20.14-59.54-75.99-102.62-142.08-103.71-.85-.08-1.71-.12-2.58-.12h-78.89C56.73,304.91,3.28,253.5,0,188.85v-66.5c0-15.36,2.84-30.04,8-43.58,7.59,22.49,20.29,42.63,36.72,59.06,27.64,27.64,65.82,44.73,107.98,44.73h79.53c62.81,0,114.58,47.35,121.54,108.31Z" style="fill: #00b5e8;"/>
                                          <path d="m353.77,290.87v74.25c0,15.36-2.84,30.08-8.02,43.62-20.14-59.54-75.99-102.62-142.08-103.71-.85-.08-1.71-.12-2.58-.12h-78.89C56.73,304.91,3.28,253.5,0,188.85v-66.5c0-15.36,2.84-30.04,8-43.58,7.59,22.49,20.29,42.63,36.72,59.06,27.64,27.64,65.82,44.73,107.98,44.73h79.53c62.81,0,114.58,47.35,121.54,108.31Z" style="fill: #7367f0;"/>
                                          <path d="m353.77,290.87v14.16c-7.05-61.86-59.58-109.9-123.32-109.9h-80.69c-42.78,0-81.2-17.67-109.57-45.39C7.92,118.23,6.58,82.48,8,78.77c7.59,22.49,20.29,42.63,36.72,59.06,27.64,27.64,65.82,44.73,107.98,44.73h79.53c62.81,0,114.58,47.35,121.54,108.31Z" style="fill: #fff; mix-blend-mode: overlay; opacity: .5;"/>
                                          <path d="m345.75,408.73c-7.26,19.07-19.17,35.85-34.34,48.96-21.44,18.55-49.41,29.77-79.99,29.77v-152.22c0-15.89-12.2-28.92-27.75-30.22,66.09,1.09,121.94,44.16,142.08,103.71Z" style="fill: #017dc0;"/>
                                        </g>
                                        <g>
                                          <path d="m152.71,182.56c-42.16,0-80.34-17.09-107.98-44.73-16.43-16.43-29.13-36.57-36.72-59.06,7.24-19.03,19.11-35.79,34.24-48.9C63.7,11.26,91.71,0,122.35,0v152.22c0,16.76,13.59,30.34,30.36,30.34Z" style="fill: #7367f0;"/>
                                          <path d="m152.71,182.56c-42.16,0-80.34-17.09-107.98-44.73-16.43-16.43-29.13-36.57-36.72-59.06,2.31-6.1,5.11-11.96,8.33-17.54,6.31,22.18,20.29,49.17,33.64,65.6,23.07,28.47,56.32,48.67,94.95,54.71h.02c2.47.66,5.09,1.01,7.77,1.01Z" style="fill: #7367f0; mix-blend-mode: overlay; opacity: .7;"/>
                                        </g>
                                        <g>
                                          <path d="m201.06,304.91c42.16,0,80.34,17.09,107.98,44.73,16.43,16.43,29.13,36.57,36.72,59.06-7.24,19.03-19.11,35.79-34.24,48.9-21.46,18.61-49.47,29.87-80.11,29.87v-152.22c0-16.76-13.59-30.34-30.36-30.34Z" style="fill: #7367f0;"/>
                                          <path d="m201.06,304.91c42.16,0,80.34,17.09,107.98,44.73,16.43,16.43,29.13,36.57,36.72,59.06-2.31,6.1-5.11,11.96-8.33,17.54-6.31-22.18-20.29-49.17-33.64-65.6-23.07-28.47-56.32-48.67-94.95-54.71h-.02c-2.47-.66-5.09-1.01-7.77-1.01Z" style="fill: #7367f0; mix-blend-mode: overlay; opacity: .7;"/>
                                          <path d="m201.06,304.91c31.75-.59,63.56,9.39,89.32,27.96,25.8,18.45,45.67,45.27,55.29,75.53-2.75-7.41-5.88-14.69-9.7-21.6-26.45-49.51-78.84-81.12-134.91-81.9h0Z" style="fill: #f5f6f6;"/>
                                        </g>
                                        <path d="m152.71,182.56c-31.75.59-63.56-9.39-89.32-27.96-25.8-18.45-45.67-45.27-55.29-75.53,2.75,7.41,5.88,14.69,9.7,21.6,26.45,49.51,78.84,81.12,134.91,81.9h0Z" style="fill: #f5f6f6;"/>
                                      </g>
                                    </g>
                                  </g>
                                </g>
                              </svg>
                            </span>
                            <span class="app-brand-text demo menu-text fw-bold">Hirexcel</span>
                        </a>

                        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
                            <i class="ti ti-x ti-md align-middle"></i>
                        </a>
                    </div>

                    <aside id="layout-menu"
                        class="layout-menu-horizontal menu-horizontal menu bg-menu-theme no-shadow flex-grow-1">
                        <div class="container-xxl d-flex h-100">
                            <ul class="menu-inner pb-2 pb-xl-0">
                                <li class="menu-item ">
                                    <a href="{% url 'recruiter_home' %}"  class="menu-link">
                                        <div data-i18n="Home">Home</div>
                                    </a>
                                </li>
                                <li class="menu-item bg-primary-subtle rounded active">
                                    <a href="{% url 'post_job' %}" class="menu-link text-black">
                                        <div data-i18n="Post Job">Post Job</div>
                                    </a>
                                </li>
                                {% comment %} <li class="menu-item">
                                    <a href="javascript:void(0)" class="menu-link text-black disabled" tabindex="-1"
                                        aria-disabled="true">
                                        <div data-i18n="Challenges">Challenges</div>
                                        <i class="menu-icon tf-icons ti ti-lock"></i>
                                    </a>
                                </li> {% endcomment %}
                                {% comment %} <li class="menu-item">
                                    <a href="javascript:void(0)" class="menu-link text-black">
                                        <div data-i18n="Profile">Profile</div>
                                    </a>
                                </li> {% endcomment %}

                            </ul>
                        </div>
                    </aside>

                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="ti ti-menu-2 ti-md"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                          <!-- Search -->
                          {% comment %} <li class="nav-item navbar-search-wrapper">
                            <a class="nav-link btn btn-text-secondary btn-icon rounded-pill search-toggler"
                              href="javascript:void(0);">
                              <i class="ti ti-search ti-md"></i>
                            </a>
                          </li> {% endcomment %}
                          <!-- /Search -->

                          <!-- Style Switcher -->
                          <li class="nav-item dropdown-style-switcher dropdown">
                            <a class="nav-link btn btn-text-secondary btn-icon rounded-pill dropdown-toggle hide-arrow"
                              href="javascript:void(0);" data-bs-toggle="dropdown">
                              <i class="ti ti-md"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-styles">
                              <li>
                                <a class="dropdown-item" href="javascript:void(0);" data-theme="light">
                                  <span class="align-middle"><i class="ti ti-sun ti-md me-3"></i>Light</span>
                                </a>
                              </li>
                              <li>
                                <a class="dropdown-item" href="javascript:void(0);" data-theme="dark">
                                  <span class="align-middle"><i class="ti ti-moon-stars ti-md me-3"></i>Dark</span>
                                </a>
                              </li>
                              {% comment %} <li>
                                <a class="dropdown-item" href="javascript:void(0);" data-theme="system">
                                  <span class="align-middle"><i class="ti ti-device-desktop-analytics ti-md me-3"></i>System</span>
                                </a>
                              </li> {% endcomment %}
                            </ul>
                          </li>
                          <!-- / Style Switcher-->
                          <!-- User -->
                          <li class="nav-item navbar-dropdown dropdown-user dropdown">
                            <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
                              <div class="avatar avatar-online">
                                <img src="../../../static/assets/img/avatars/no-dp.png" alt class="rounded-circle" />
                              </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                              <li>
                                <a class="dropdown-item mt-0" href="javascript:void(0);">
                                  <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0 me-2">
                                      <div class="avatar avatar-online">
                                        <img src="../../../static/assets/img/avatars/no-dp.png" alt class="rounded-circle" />
                                      </div>
                                    </div>
                                    <div class="flex-grow-1">
                                      <h6 class="mb-0">{{ user_info.FIRST_NAME }} {{ user_info.LAST_NAME }}</h6>
                                      <small class="text-muted">Recruiter</small>
                                    </div>
                                  </div>
                                </a>
                              </li>
                              <li>
                                <div class="dropdown-divider my-1 mx-n2"></div>
                              </li>
                              <li>
                                <a class="dropdown-item" href="{% url 'recruiter_view_profile' %}">
                                  <i class="ti ti-user me-3 ti-md"></i><span class="align-middle">My Profile</span>
                                </a>
                              </li>
                              {% comment %} <li>
                                <a class="dropdown-item" href="javascript:void(0);">
                                  <i class="ti ti-settings me-3 ti-md"></i><span class="align-middle">Settings</span>
                                </a>
                              </li> {% endcomment %}
                              {% comment %} <li>
                                <a class="dropdown-item" href="pages-account-settings-billing.html">
                                  <span class="d-flex align-items-center align-middle">
                                    <i class="flex-shrink-0 ti ti-file-dollar me-3 ti-md"></i><span
                                      class="flex-grow-1 align-middle">Billing</span>
                                    <span
                                      class="flex-shrink-0 badge bg-danger d-flex align-items-center justify-content-center">4</span>
                                  </span>
                                </a>
                              </li> {% endcomment %}
                              <li>
                                <div class="dropdown-divider my-1 mx-n2"></div>
                              </li>
                              {% comment %} <li>
                                <a class="dropdown-item" href="pages-pricing.html">
                                  <i class="ti ti-currency-dollar me-3 ti-md"></i><span class="align-middle">Pricing</span>
                                </a>
                              </li>
                              <li>
                                <a class="dropdown-item" href="pages-faq.html">
                                  <i class="ti ti-question-mark me-3 ti-md"></i><span class="align-middle">FAQ</span>
                                </a>
                              </li> {% endcomment %}
                              <li>
                                <div class="d-grid px-2 pt-2 pb-1">
                                  <a class="btn btn-sm btn-danger d-flex" href="{% url 'recruiter_logout' %}" target="_blank">
                                    <small class="align-middle">Logout</small>
                                    <i class="ti ti-logout ms-2 ti-14px"></i>
                                  </a>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <!--/ User -->
                        </ul>
                      </div>

                    <!-- Search Small Screens -->
                    {% comment %} <div class="navbar-search-wrapper search-input-wrapper container-xxl d-none">
                        <input type="text" class="form-control search-input border-0" placeholder="Search..."
                            aria-label="Search..." />
                        <i class="ti ti-x search-toggler cursor-pointer"></i>
                    </div> {% endcomment %}
                </div>
            </nav>

            <!-- / Navbar -->

            <!-- Layout container -->
            <div class="layout-page">
                <!-- Content wrapper -->
                <div class="content-wrapper">

                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">

                        <div class="d-flex align-content-center justify-content-left mb-2">
                            <h2 class="fw-normal">Post a Job</h2>
                        </div>

                        <div class="row">

                            <div class="col-sm-8">
                                <h4 class="fw-bold">Job Details</h4>
                                <form method="post" action="{% url 'post_job' %}">
                                    {% csrf_token %}
                                    <div class="row g-6">
                                        <div class="col-sm-12">
                                            <label class="form-label">Job Title</label>
                                            <input type="text" class="form-control" name="jobTitle" placeholder="Enter job title" required />
                                        </div>

                                        <div class="col-sm-6">
                                            <label class="form-label">City</label>
                                            {% comment %} <input type="text" class="form-control" placeholder="Karachi" /> {% endcomment %}
                                            <input type="text" class="form-control" name="city" placeholder="Enter city" required />
                                        </div>

                                        <div class="col-sm-6">
                                            <label class="form-label">Country</label>
                                            <select class="select2 form-select" name="country" required>
                                                <option value="">Select Country</option>
                                                <option value="Germany">Germany</option>
                                                <option value="United States">United States</option>
                                                <option value="France">France</option>
                                                <option value="Italy">Italy</option>
                                                <option value="United Kingdom">United Kingdom</option>
                                                <option value="China">China</option>
                                                <option value="Pakistan">Pakistan</option>
                                                <option value="Russia">Russia</option>
                                                <option value="Spain">Spain</option>
                                                <option value="Canada">Canada</option>
                                                <option value="India">India</option>
                                                <option value="Netherlands">Netherlands</option>
                                                <option value="Portugal">Portugal</option>
                                                <option value="Finland">Finland</option>
                                            </select>
                                        </div>

                                        <div class="col-sm-12">
                                            <label class="form-label">Job Type</label>
                                            <select class="select2 form-select" name="jobType" required>
                                                <option value="">Select job type</option>
                                                <option value="Full Time">Full Time</option>
                                                <option value="Part Time">Part Time</option>
                                                <option value="Remote">Remote</option>
                                            </select>
                                        </div>

                                        <div class="col-sm-12">
                                            <label class="form-label">Job Position</label>
                                            <select class="select2 form-select" id="jobPosition" name="jobPosition" required>
                                                <option value="">Select job Position</option>
                                                {% for position in job_positions %}
                                                <option value="{{ position }}">{{ position }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="col-sm-12 mb-5">
                                            <label class="form-label">Job Descripiton</label>
                                            <textarea class="form-control" name="jobDescription" rows="3" required></textarea>
                                        </div>
                                    </div>


                                    <h4 class="fw-bold">Requirements</h4>
                                    <div class="row g-6">
                                        <div class="col-sm-12">
                                            <label class="form-label">Required Qualification</label>
                                            {% comment %} <select class="select2 form-select" name="requiredQualification" required> {% endcomment %}
                                            <select class="select2 form-select" name="requiredQualification" required>
                                                <option value="">Select Qualification</option>
                                                <option value="Undergraduate">Undergraduate</option>
                                                <option value="Graduate">Graduate</option>
                                                <option value="Master">Master</option>
                                            </select>
                                        </div>
                                        {% comment %} <div class="col-sm-12">
                                            <label class="form-label">Required Skills</label>
                                            <div class="select2-primary">
                                                <select id="skills" class="select2 form-select" name="requiredSkills" multiple="multiple" required>
                                                    <option value="HTML">HTML</option>
                                                    <option value="CSS">CSS</option>
                                                    <option value="JavaScript">JavaScript</option>
                                                    <option value="Python">Python</option>
                                                    <option value="Java">Java</option>
                                                    <option value="C++">C++</option>
                                                    <option value="Node.js">Node.js</option>
                                                    <option value="React">React</option>
                                                    <option value="Angular">Angular</option>
                                                    <option value="SQL">SQL</option>
                                                    <option value="Django">Django</option>
                                                    <option value="Flask">Flask</option>
                                                    <option value="AWS">AWS</option>
                                                    <option value="Docker">Docker</option>
                                                    <option value="Kubernetes">Kubernetes</option>
                                                    <option value="MongoDB">MongoDB</option>
                                                    <option value="DevOps">DevOps</option>
                                                </select>
                                            </div>
                                        </div> {% endcomment %}
                                        <div class="col-sm-12">
                                            <label for="TagifyBasic" class="form-label">Required Skills</label>
                                            {% comment %} <input id="TagifyBasic" class="form-control" name="TagifyBasic" value="Python, HTML, CSS" /> {% endcomment %}
                                            <input id="TagifyBasic" class="form-control" name="requiredSkills" value="Python, HTML, CSS" required/>
                                        </div>
                                        <div class="col-sm-12">
                                            <label class="form-label">Experience Requirements</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="experienceRequirements" placeholder="Enter experience range (e.g. 0-1, 1-2)" required />
                                                <span class="input-group-text" id="basic-addon13">Years</span>
                                            </div>
                                        </div>
                                    </div>


                                    <h4 class="fw-bold mt-5">Assessments</h4>
                                    <h5 class="mb-1">Personality Traits</h5>
                                    <div class="row g-6">
                                        <div class="col-sm-12">
                                            <label class="form-label">Following are the personality traits for the selected Job positions:</label>
                                            <div class="select2-primary">
                                                <select id="personalityTraitsDropdown" class="select2 form-select" name="personalityTraits" multiple="multiple" required>
                                                    <!-- Options will be dynamically populated here via JavaScript -->
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <!-- <div class="card"> -->
                                            <h5 class="card-header fw-bold">Personality Assessment</h5>
                                            <!-- <div class="card-body"> -->
                                            <div class="row">
                                                <div class="col-md mb-md-0 mb-5">
                                                    <div class="form-check custom-option custom-option-icon">
                                                        <label class="form-check-label custom-option-content" for="discCheckbox">
                                                            <span class="custom-option-body">
                                                                <i class="ti ti-book-2"></i>
                                                                <span class="custom-option-title"> DISC</span>
                                                                <small> DISC quiz. </small>
                                                            </span>
                                                            <input class="form-check-input" type="checkbox" name="personalityAssessment[]" value="DISC" id="discCheckbox" checked disabled />
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md">
                                                    <div class="form-check custom-option custom-option-icon">
                                                        <label class="form-check-label custom-option-content" for="bigFiveCheckbox">
                                                            <span class="custom-option-body">
                                                                <i class="ti ti-circle-number-5"></i>
                                                                <span class="custom-option-title"> BIG FIVE</span>
                                                                <small>Big Five quiz </small>
                                                            </span>
                                                            <input class="form-check-input" type="checkbox" name="personalityAssessment[]" value="BIG FIVE" id="bigFiveCheckbox" checked disabled/>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- </div> -->
                                            <!-- </div> -->
                                        </div>
                                        <div class="col-sm-12">
                                            <!-- <div class="card"> -->
                                            <h5 class="card-header fw-bold">Cognitive Assessment</h5>
                                            <!-- <div class="card-body"> -->
                                            <div class="row">
                                                <div class="col-md mb-md-0 mb-5">
                                                    <div class="form-check custom-option custom-option-icon">
                                                        <label class="form-check-label custom-option-content" for="verbalCheckbox">
                                                            <span class="custom-option-body">
                                                                <i class="ti ti-blockquote"></i>
                                                                <span class="custom-option-title"> VERBAL</span>
                                                                <small> You will perform verbal quiz. </small>
                                                            </span>
                                                            <input class="form-check-input" type="checkbox" name="cognitiveAssessment[]" value="VERBAL" id="verbalCheckbox" checked disabled  />
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md mb-5">
                                                    <div class="form-check custom-option custom-option-icon">
                                                        <label class="form-check-label custom-option-content" for="nonVerbalCheckbox">
                                                            <span class="custom-option-body">
                                                                <i class="ti ti-icons"></i>
                                                                <span class="custom-option-title"> NON-VERBAL</span>
                                                                <small> You will perform non verbal quiz </small>
                                                            </span>
                                                            <input class="form-check-input" type="checkbox" name="cognitiveAssessment[]" value="NON-VERBAL" id="nonVerbalCheckbox" checked disabled />
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-md-3">
                                                    <label class="form-label">Cognitive Weightage</label>
                                                    <input type="number" class="form-control" name="cognitiveWeightage" value="" min="0" max="99" required/>
                                                </div>
                                                <div class="col-md-9 alert alert-warning mt-5">
                                                    Recommended Cognitive Weightage: <span id="recommendedCognitiveWeightage"></span>
                                                </div>
                                            </div>
                                            <!-- </div> -->
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <!-- <div class="card"> -->
                                        <h5 class="card-header fw-bold">Technical Assessment</h5>
                                        <!-- <div class="card-body"> -->
                                        <div class="row">
                                            <small class="mt-3 mb-2">Choose a maximum of 2 levels</small>
                                            <div class="col-md mb-md-0 mb-5">
                                                {% comment %} <div class="form-check custom-option custom-option-icon">
                                                    <label class="form-check-label custom-option-content" for="Beginner">
                                                        <span class="custom-option-body">
                                                            <span class="custom-option-title"> Beginner</span>
                                                        </span>
                                                        <input class="form-check-input" type="checkbox" name="technicalAssessment[]" value="Beginner" id="Beginner">
                                                    </label>
                                                </div> {% endcomment %}
                                                <div class="form-check custom-option custom-option-icon">
                                                    <input class="form-check-input" type="checkbox" name="technicalAssessment[]" value="Beginner" id="Beginner">
                                                    <label class="form-check-label custom-option-content" for="Beginner">
                                                        <span class="custom-option-body">
                                                            <span class="custom-option-title"> Beginner</span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md mb-md-0 mb-5">
                                                {% comment %} <div class="form-check custom-option custom-option-icon">
                                                    <label class="form-check-label custom-option-content" for="Intermediate">
                                                        <span class="custom-option-body">
                                                            <span class="custom-option-title"> Intermediate</span>
                                                        </span>
                                                        <input class="form-check-input" type="checkbox" name="technicalAssessment[]" value="Intermediate" id="Intermediate">
                                                    </label>
                                                </div> {% endcomment %}
                                                <div class="form-check custom-option custom-option-icon">
                                                    <input class="form-check-input" type="checkbox" name="technicalAssessment[]" value="Intermediate" id="Intermediate">
                                                    <label class="form-check-label custom-option-content" for="Intermediate">
                                                        <span class="custom-option-body">
                                                            <span class="custom-option-title"> Intermediate</span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md mb-md-0 mb-5">
                                                {% comment %} <div class="form-check custom-option custom-option-icon">
                                                    <label class="form-check-label custom-option-content" for="Professional">
                                                        <span class="custom-option-body">
                                                            <span class="custom-option-title"> Professional</span>
                                                        </span>
                                                        <input class="form-check-input" type="checkbox" name="technicalAssessment[]" value="Professional" id="Professional">
                                                    </label>
                                                </div> {% endcomment %}
                                                <div class="form-check custom-option custom-option-icon">
                                                    <input class="form-check-input" type="checkbox" name="technicalAssessment[]" value="Professional" id="Professional">
                                                    <label class="form-check-label custom-option-content" for="Professional">
                                                        <span class="custom-option-body">
                                                            <span class="custom-option-title"> Professional</span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                            <!-- Technical Weightage -->
                                            <div class="row mt-5">
                                                <div class="col-md-3">
                                                    <label class="form-label">Technical Weightage</label>
                                                    <input type="number" class="form-control" name="technicalWeightage" value="" min="0" max="99" required/>
                                                </div>
                                                <div class="col-md-9 alert alert-warning mt-5">
                                                    Recommended Technical Weightage: <span id="recommendedTechnicalWeightage"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- </div> -->
                                        <!-- </div> -->
                                    </div>
                                    <button type="submit" class="btn btn-primary mt-5">Submit Job Posting</button>
                                </form>
                            </div>

                            <!-- Side Content -->
                            {% comment %} <div class="col-sm-4">
                                <div class="accordion mt-4" id="suggested_actions_accordion">
                                    <div class="card accordion-item active suggested_actions_item" id="">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button type="button" class="accordion-button suggested_actions_collapse"
                                                data-bs-toggle="collapse" data-bs-target="#suggested_actions"
                                                aria-expanded="true" aria-controls="suggested_actions">
                                                Suggested actions
                                            </button>
                                        </h2>

                                        <div id="suggested_actions" class="accordion-collapse collapse show"
                                            data-bs-parent="#suggested_actions_accordion">
                                            <div class="accordion-body pt-4">
                                                <div class="d-flex gap-2">
                                                    <i class="ti ti-bulb-filled ti-28px" style="color: #66CC80;"></i>
                                                    <div>
                                                        <h6 class="mb-0">Mismatch in years of declared experience in
                                                            profile
                                                            section & project
                                                            durations for the following skills</h6>
                                                        <ul class="mt-2 mb-4 ms-4">
                                                            <li><b>CSS3: </b>Add 1 Year</li>
                                                            <li><b>HTML/CSS: </b>Add 1 Year</li>
                                                            <li><b>Bootstrap: </b>Add 1 Year</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                            <!--/ Side Content-->

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--/ Content -->

    <!-- Footer -->
    <footer class="content-footer footer bg-footer-theme">
        <div class="container-xxl">
            <div
                class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
                <div class="text-body">
                    ©
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    , made with ❤️ by <a href="https://pixinvent.com" target="_blank" class="footer-link">Pixinvent</a>
                </div>
                <div class="d-none d-lg-inline-block">
                    <a href="https://themeforest.net/licenses/standard" class="footer-link me-4"
                        target="_blank">License</a>
                    <a href="https://1.envato.market/pixinvent_portfolio" target="_blank" class="footer-link me-4">More
                        Themes</a>

                    <a href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/" target="_blank"
                        class="footer-link me-4">Documentation</a>

                    <a href="https://pixinvent.ticksy.com/" target="_blank"
                        class="footer-link d-none d-sm-inline-block">Support</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- / Footer -->

    <div class="content-backdrop fade"></div>
    </div>
    <!--/ Content wrapper -->
    </div>

    <!--/ Layout container -->
    </div>

    <!-- Overlay -->
    <!-- <div class="layout-overlay layout-menu-toggle"></div> -->

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>

    <!--/ Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $('#jobPosition').select2(); // Initialize select2
            $('#jobPosition').on('select2:select', function (e) {
                const jobPosition = e.params.data.id; // Get the selected value
        
                console.log("Selected job position:", jobPosition); // Log the selected value
        
                if (jobPosition) {
                    fetch(`/get_personality_traits/?job_position=${jobPosition}`)
                        .then((response) => response.json())
                        .then((data) => {
                            console.log("Received data:", data); // Confirm the data from the backend
        
                            // Clear existing options in the dropdown
                            const personalityTraitsDropdown = document.getElementById("personalityTraitsDropdown");
                            personalityTraitsDropdown.innerHTML = "";
        
                            // Combine data only if it exists
                            const combinedTraits = [...new Set([
                                ...data.personality_traits,
                                ...(data.cognitive_skills || []),  // Add cognitive_skills if present
                                ...(data.emotional_intelligence || [])  // Add emotional_intelligence if present
                            ])];
        
                            // Populate dropdown with combined data
                            combinedTraits.forEach((trait) => {
                                const option = document.createElement("option");
                                option.value = trait;
                                option.textContent = trait;
                                personalityTraitsDropdown.appendChild(option);
                            });
        
                            // Set recommended weightage values
                            document.getElementById("recommendedCognitiveWeightage").textContent = data.cognitive_weightage || "N/A";
                            document.getElementById("recommendedTechnicalWeightage").textContent = data.technical_weightage || "N/A";
                        })
                        .catch((error) => console.error("Error fetching data:", error));
                }
            });
        });

        document.addEventListener("DOMContentLoaded", function() {
            const technicalCheckboxes = document.querySelectorAll('input[name="technicalAssessment[]"]');

            
            technicalCheckboxes.forEach(checkbox => {
                checkbox.addEventListener('change', function () {
                    const checkboxes = document.querySelectorAll('input[name="technicalAssessment[]"]:checked');

                    console.log("Selected Technical Assessment:", checkbox.value);
                });
            });
    


        });

        document.addEventListener("DOMContentLoaded", function () {
            const technicalCheckboxes = document.querySelectorAll('input[name="technicalAssessment[]"]');
            
            technicalCheckboxes.forEach(checkbox => {
                checkbox.addEventListener('change', function () {
                    const checkedCount = document.querySelectorAll('input[name="technicalAssessment[]"]:checked').length;
                    
                    if (checkedCount > 2) {
                        this.checked = false;
                        alert("You can select a maximum of 2 Technical Assessment levels.");
                    }
                });
            });
        });
    </script>

    <script src="../../static/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../../static/assets/vendor/libs/popper/popper.js"></script>
    <script src="../../static/assets/vendor/js/bootstrap.js"></script>
    <script src="../../static/assets/vendor/libs/node-waves/node-waves.js"></script>
    <script src="../../static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../../static/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="../../static/assets/vendor/libs/i18n/i18n.js"></script>
    <script src="../../static/assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="../../static/assets/vendor/js/menu.js"></script>
    {% comment %} <script src="../../static/assets/vendor/js/job-post.js"></script> {% endcomment %}

    

    {% comment %} <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Listen for changes on the job position dropdown
            document.getElementById("jobPosition").addEventListener("change", function () {
                const jobPosition = this.value;
        
                if (jobPosition) {
                    // Fetch personality traits based on job position
                    fetch(`/get_personality_traits/?job_position=${jobPosition}`)
                        .then((response) => response.json())
                        .then((data) => {
                            console.log("Received personality traits:", data.personality_traits);
        
                            // Clear existing options in the dropdown
                            const personalityTraitsDropdown = document.getElementById("personalityTraitsDropdown");
                            personalityTraitsDropdown.innerHTML = "";
        
                            // Populate dropdown with new personality traits
                            data.personality_traits.forEach((trait) => {
                                const option = document.createElement("option");
                                option.value = trait;
                                option.name = "personalityTraits";
                                option.textContent = trait;
                                personalityTraitsDropdown.appendChild(option);
                            });
                        })
                        .catch((error) =>
                            console.error("Error fetching personality traits:", error)
                        );
                }
            });
        });
    </script> {% endcomment %}

    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../../static/assets/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="../../static/assets/vendor/libs/swiper/swiper.js"></script>
    <script src="../../static/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="../../static/assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="../../static/assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="../../static/assets/vendor/libs/moment/moment.js"></script>
    <script src="../../static/assets/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="../../static/assets/vendor/libs/select2/select2.js"></script>
    <script src="../../static/assets/vendor/libs/tagify/tagify.js"></script>
    <script src="../../static/assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
    <script src="../../static/assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="../../static/assets/vendor/libs/bloodhound/bloodhound.js"></script>

    <!-- Main JS -->
    <script src="../../static/assets/js/main.js"></script>

    <!-- Page JS -->
    {% comment %} <script src="../../static/assets/js/pages-account-settings-account.js"></script> {% endcomment %}
    <script src="../../static/assets/js/form-layouts.js"></script>
    <script src="../../static/assets/js/forms-selects.js"></script>
    <script src="../../static/assets/js/forms-tagify.js"></script>
    <script src="../../static/assets/js/forms-typeahead.js"></script>

</body>

</html>