<!doctype html>

<html lang="en" class="light-style layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default"
  data-assets-path="../../../static/assets/" data-template="horizontal-menu-template" data-style="light">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Home | JobSeeker</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="../../../static/assets/img/favicon/hx.ico" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <!-- Icons -->
  <link rel="stylesheet" href="../../../static/assets/vendor/fonts/fontawesome.css" />
  <link rel="stylesheet" href="../../../static/assets/vendor/fonts/tabler-icons.css" />
  <link rel="stylesheet" href="../../../static/assets/vendor/fonts/flag-icons.css" />

  <!-- Core CSS -->

  <link rel="stylesheet" href="../../../static/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="../../../static/assets/vendor/css/rtl/theme-default.css"
    class="template-customizer-theme-css" />

  <link rel="stylesheet" href="../../../static/assets/css/demo.css" />
  <link rel="stylesheet" href="../../../static/assets/css/style.css " />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="../../../static/assets/vendor/libs/node-waves/node-waves.css" />

  <link rel="stylesheet" href="../../../static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
  <link rel="stylesheet" href="../../../static/assets/vendor/libs/typeahead-js/typeahead.css" />
  <link rel="stylesheet" href="../../../static/assets/vendor/libs/apex-charts/apex-charts.css" />
  <link rel="stylesheet" href="../../../static/assets/vendor/libs/swiper/swiper.css" />
  <link rel="stylesheet" href="../../../static/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
  <link rel="stylesheet"
    href="../../../static/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
  <link rel="stylesheet"
    href="../../../static/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css" />

  <!-- Page CSS -->
  <link rel="stylesheet" href="../../../static/assets/vendor/css/pages/cards-advance.css" />

  <!-- Helpers -->
  <script src="../../../static/assets/vendor/js/helpers.js"></script>
  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->

  <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
  <script src="../../../static/assets/vendor/js/template-customizer.js"></script>

  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="../../../static/assets/js/config.js"></script>
</head>

<body>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
    <div class="layout-container">
      <!-- Navbar -->

      <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
        <div class="container-xxl">
          <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
            <a href="jobseeker_home" class="app-brand-link">
              <span class="app-brand-logo demo">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.78 487.47">
                  <g style="isolation: isolate;">
                    <g id="Layer_2" data-name="Layer 2">
                      <g id="OBJECTS">
                        <g>
                          <g>
                            <path d="m353.78,131.18v178.34c-22.45-44.78-122.35-74.91-122.35-74.91v-117.55c0-70.95,101.99-83.97,118.85-15.05,2.29,9.35,3.5,19.12,3.5,29.17Z" style="fill: #7367f0;"/>
                            <path d="m0,366.49v-178.34c22.45,44.78,122.35,74.91,122.35,74.91v106.66c0,78.16-116.8,83.13-122.07,5.15-.19-2.77-.28-5.56-.28-8.38Z" style="fill: #7367f0;"/>
                          </g>
                          <path d="m353.77,247.77v47.58c-22.45-44.78-122.35-74.91-122.35-74.91v-52.94h.82c54.16,0,101.32,32.67,121.54,80.27Z" style="fill: #1f1e21; mix-blend-mode: overlay; opacity: .2;"/>
                          <path d="m0,239.69v-47.58c22.45,44.78,122.35,74.91,122.35,74.91v52.94h-.82c-54.16,0-101.32-32.67-121.54-80.27Z" style="fill: #1f1e21; mix-blend-mode: overlay; opacity: .2;"/>
                          <g>
                            <path d="m353.77,290.87v74.25c0,15.36-2.84,30.08-8.02,43.62-20.14-59.54-75.99-102.62-142.08-103.71-.85-.08-1.71-.12-2.58-.12h-78.89C56.73,304.91,3.28,253.5,0,188.85v-66.5c0-15.36,2.84-30.04,8-43.58,7.59,22.49,20.29,42.63,36.72,59.06,27.64,27.64,65.82,44.73,107.98,44.73h79.53c62.81,0,114.58,47.35,121.54,108.31Z" style="fill: #00b5e8;"/>
                            <path d="m353.77,290.87v74.25c0,15.36-2.84,30.08-8.02,43.62-20.14-59.54-75.99-102.62-142.08-103.71-.85-.08-1.71-.12-2.58-.12h-78.89C56.73,304.91,3.28,253.5,0,188.85v-66.5c0-15.36,2.84-30.04,8-43.58,7.59,22.49,20.29,42.63,36.72,59.06,27.64,27.64,65.82,44.73,107.98,44.73h79.53c62.81,0,114.58,47.35,121.54,108.31Z" style="fill: #7367f0;"/>
                            <path d="m353.77,290.87v14.16c-7.05-61.86-59.58-109.9-123.32-109.9h-80.69c-42.78,0-81.2-17.67-109.57-45.39C7.92,118.23,6.58,82.48,8,78.77c7.59,22.49,20.29,42.63,36.72,59.06,27.64,27.64,65.82,44.73,107.98,44.73h79.53c62.81,0,114.58,47.35,121.54,108.31Z" style="fill: #fff; mix-blend-mode: overlay; opacity: .5;"/>
                            <path d="m345.75,408.73c-7.26,19.07-19.17,35.85-34.34,48.96-21.44,18.55-49.41,29.77-79.99,29.77v-152.22c0-15.89-12.2-28.92-27.75-30.22,66.09,1.09,121.94,44.16,142.08,103.71Z" style="fill: #017dc0;"/>
                          </g>
                          <g>
                            <path d="m152.71,182.56c-42.16,0-80.34-17.09-107.98-44.73-16.43-16.43-29.13-36.57-36.72-59.06,7.24-19.03,19.11-35.79,34.24-48.9C63.7,11.26,91.71,0,122.35,0v152.22c0,16.76,13.59,30.34,30.36,30.34Z" style="fill: #7367f0;"/>
                            <path d="m152.71,182.56c-42.16,0-80.34-17.09-107.98-44.73-16.43-16.43-29.13-36.57-36.72-59.06,2.31-6.1,5.11-11.96,8.33-17.54,6.31,22.18,20.29,49.17,33.64,65.6,23.07,28.47,56.32,48.67,94.95,54.71h.02c2.47.66,5.09,1.01,7.77,1.01Z" style="fill: #7367f0; mix-blend-mode: overlay; opacity: .7;"/>
                          </g>
                          <g>
                            <path d="m201.06,304.91c42.16,0,80.34,17.09,107.98,44.73,16.43,16.43,29.13,36.57,36.72,59.06-7.24,19.03-19.11,35.79-34.24,48.9-21.46,18.61-49.47,29.87-80.11,29.87v-152.22c0-16.76-13.59-30.34-30.36-30.34Z" style="fill: #7367f0;"/>
                            <path d="m201.06,304.91c42.16,0,80.34,17.09,107.98,44.73,16.43,16.43,29.13,36.57,36.72,59.06-2.31,6.1-5.11,11.96-8.33,17.54-6.31-22.18-20.29-49.17-33.64-65.6-23.07-28.47-56.32-48.67-94.95-54.71h-.02c-2.47-.66-5.09-1.01-7.77-1.01Z" style="fill: #7367f0; mix-blend-mode: overlay; opacity: .7;"/>
                            <path d="m201.06,304.91c31.75-.59,63.56,9.39,89.32,27.96,25.8,18.45,45.67,45.27,55.29,75.53-2.75-7.41-5.88-14.69-9.7-21.6-26.45-49.51-78.84-81.12-134.91-81.9h0Z" style="fill: #f5f6f6;"/>
                          </g>
                          <path d="m152.71,182.56c-31.75.59-63.56-9.39-89.32-27.96-25.8-18.45-45.67-45.27-55.29-75.53,2.75,7.41,5.88,14.69,9.7,21.6,26.45,49.51,78.84,81.12,134.91,81.9h0Z" style="fill: #f5f6f6;"/>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </span>
              <span class="app-brand-text demo menu-text fw-bold">Hirexcel</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
              <i class="ti ti-x ti-md align-middle"></i>
            </a>
          </div>

          <aside id="layout-menu"
            class="layout-menu-horizontal menu-horizontal menu bg-menu-theme no-shadow flex-grow-1">
            <div class="container-xxl d-flex h-100">
              <ul class="menu-inner pb-2 pb-xl-0">
                <li class="menu-item bg-primary-subtle rounded active">
                  <a href="jobseeker_home" class="menu-link">
                    <div data-i18n="Home">Home</div>
                  </a>
                </li>
                {% comment %} <li class="menu-item">
                  <a href="javascript:void(0)" class="menu-link text-black">
                    <div data-i18n="Quizes">Quizzes</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="javascript:void(0)" class="menu-link text-black disabled" tabindex="-1" aria-disabled="true">
                    <div data-i18n="Challenges">Challenges</div>
                    <i class="menu-icon tf-icons ti ti-lock"></i>
                  </a>
                </li> {% endcomment %}
                {% comment %} <li class="menu-item">
                  <a href="javascript:void(0)" class="menu-link text-black">
                    <div data-i18n="Profile">Profile</div>
                  </a>
                </li> {% endcomment %}

              </ul>
            </div>
          </aside>

          <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
              <i class="ti ti-menu-2 ti-md"></i>
            </a>
          </div>

          <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <ul class="navbar-nav flex-row align-items-center ms-auto">
              <!-- Search -->
              {% comment %} <li class="nav-item navbar-search-wrapper">
                <a class="nav-link btn btn-text-secondary btn-icon rounded-pill search-toggler"
                  href="javascript:void(0);">
                  <i class="ti ti-search ti-md"></i>
                </a>
              </li> {% endcomment %}
              <!-- /Search -->

              <!-- Style Switcher -->
              <li class="nav-item dropdown-style-switcher dropdown">
                <a class="nav-link btn btn-text-secondary btn-icon rounded-pill dropdown-toggle hide-arrow"
                  href="javascript:void(0);" data-bs-toggle="dropdown">
                  <i class="ti ti-md"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-styles">
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);" data-theme="light">
                      <span class="align-middle"><i class="ti ti-sun ti-md me-3"></i>Light</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);" data-theme="dark">
                      <span class="align-middle"><i class="ti ti-moon-stars ti-md me-3"></i>Dark</span>
                    </a>
                  </li>
                  {% comment %} <li>
                    <a class="dropdown-item" href="javascript:void(0);" data-theme="system">
                      <span class="align-middle"><i class="ti ti-device-desktop-analytics ti-md me-3"></i>System</span>
                    </a>
                  </li> {% endcomment %}
                </ul>
              </li>
              <!-- / Style Switcher-->


              <!-- User -->
              <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
                  <div class="avatar avatar-online">
                    <img src="../../../static/assets/img/avatars/no-dp.png" alt class="rounded-circle" />
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item mt-0" href="#">
                      <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 me-2">
                          <div class="avatar avatar-online">
                            <img src="../../../static/assets/img/avatars/no-dp.png" alt class="rounded-circle" />
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="mb-0">{{ user_info.FIRST_NAME }} {{ user_info.LAST_NAME }}</h6>
                          <small class="text-muted">Job Seeker</small>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <div class="dropdown-divider my-1 mx-n2"></div>
                  </li>
                  <li>
                    <a class="dropdown-item" href="jobseeker_view_profile">
                      <i class="ti ti-user me-3 ti-md"></i><span class="align-middle">My Profile</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="ti ti-settings me-3 ti-md"></i><span class="align-middle">Settings</span>
                    </a>
                  </li>
                  {% comment %} <li>
                    <a class="dropdown-item" href="pages-account-settings-billing.html">
                      <span class="d-flex align-items-center align-middle">
                        <i class="flex-shrink-0 ti ti-file-dollar me-3 ti-md"></i><span
                          class="flex-grow-1 align-middle">Billing</span>
                        <span
                          class="flex-shrink-0 badge bg-danger d-flex align-items-center justify-content-center">4</span>
                      </span>
                    </a>
                  </li> {% endcomment %}
                  <li>
                    <div class="dropdown-divider my-1 mx-n2"></div>
                  </li>
                  {% comment %} <li>
                    <a class="dropdown-item" href="pages-pricing.html">
                      <i class="ti ti-currency-dollar me-3 ti-md"></i><span class="align-middle">Pricing</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="pages-faq.html">
                      <i class="ti ti-question-mark me-3 ti-md"></i><span class="align-middle">FAQ</span>
                    </a>
                  </li> {% endcomment %}
                  <li>
                    <div class="d-grid px-2 pt-2 pb-1">
                      <a class="btn btn-sm btn-danger d-flex" href="{% url 'jobseeker_logout' %}" target="_blank">
                        <small class="align-middle">Logout</small>
                        <i class="ti ti-logout ms-2 ti-14px"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
              <!--/ User -->
            </ul>
          </div>

          <!-- Search Small Screens -->
          {% comment %} <div class="navbar-search-wrapper search-input-wrapper container-xxl d-none">
            <input type="text" class="form-control search-input border-0" placeholder="Search..."
              aria-label="Search..." />
            <i class="ti ti-x search-toggler cursor-pointer"></i>
          </div> {% endcomment %}
        </div>
      </nav>

      <!-- / Navbar -->

      <!-- Layout container -->
      <div class="layout-page">
        <!-- Content wrapper -->
        <div class="content-wrapper">

          <!-- Content -->
          <div class="position-relative pt-10 welcome_background">
            <div class="container-xxl container-p-y">
              <div class="row g-6">
                <div class="col-lg-8">
                  <h1 class="text-white fw-semibold fs-1 mb-2 welcome_title">Welcome Back!</h1>
                  <p class="text-white welcome_subtitle">Thanks for joining Hirexcel. To be eligible for jobs you must
                    complete your vetting process, but don’t worry, we will guide you through the whole process. </p>
                </div>
              </div>
              {% comment %} <div class="card h-100 mt-10 job_banner">
                <div class="card-body">
                  <div class="d-md-flex justify-content-between align-items-center">
                    <div class="card-subtitle">
                      <p class="mb-0 text-black">You can find all the available job opportunities at the Jobs tab</p>
                    </div>
                    <button class="btn btn-primary p-3 mt-sm-0 mt-3"><i class="ti ti-briefcase-2 ti-md me-2"></i><a
                        href="" class="btn-link text-white">Explore the Jobs tab</a></button>
                  </div>
                </div>
              </div> {% endcomment %}
            </div>
          </div>

          <div class="container-xxl container-p-y user_activity">
            <div class="row mt-10">
              <div class="col-lg-3 mb-6">
                <div class="card h-100">
                  <div class="card-body p-8">
                    <div class="card-subtitle">
                      <p class="mb-0 text-black">We’ve found jobs for</p>
                    </div>
                    <h1 class="total_hired_number">100+</h1>
                    <div class="card-subtitle">
                      <p class="mb-0 text-black">developers from Pakistan<img
                          src="../../../static/assets/svg/icons/pakistan.ffd6654c.svg" class="flag" alt=""> so far and
                        you could be the next one!</p>
                    </div>
                  </div>
                </div>
              </div>
              {% comment %} <div class="col-lg-3 mb-6">
                <div class="card h-100">
                  <div class="card-header pb-2">
                    <h5 class="card-title mb-1">82.5k</h5>
                    <p class="card-subtitle">Expenses</p>
                  </div>
                  <div class="card-body" style="position: relative;">
                    <div id="expensesChart" style="min-height: 117.5px;">
                      <div id="apexcharts2kwap5sn" class="apexcharts-canvas apexcharts2kwap5sn apexcharts-theme-light"
                        style="width: 318px; height: 117.5px;"><svg id="SvgjsSvg2703" width="318" height="117.5"
                          xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                          xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS"
                          transform="translate(0, 0)" style="background: transparent;">
                          <g id="SvgjsG2705" class="apexcharts-inner apexcharts-graphical" transform="translate(45, 0)">
                            <defs id="SvgjsDefs2704">
                              <clipPath id="gridRectMask2kwap5sn">
                                <rect id="SvgjsRect2707" width="234" height="225" x="-3" y="-1" rx="0" ry="0"
                                  opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                              </clipPath>
                              <clipPath id="forecastMask2kwap5sn"></clipPath>
                              <clipPath id="nonForecastMask2kwap5sn"></clipPath>
                              <clipPath id="gridRectMarkerMask2kwap5sn">
                                <rect id="SvgjsRect2708" width="232" height="227" x="-2" y="-2" rx="0" ry="0"
                                  opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                              </clipPath>
                              <filter id="SvgjsFilter2721" filterUnits="userSpaceOnUse" width="200%" height="200%"
                                x="-50%" y="-50%">
                                <feComponentTransfer id="SvgjsFeComponentTransfer2722"
                                  result="SvgjsFeComponentTransfer2722Out" in="SourceGraphic">
                                  <feFuncR id="SvgjsFeFuncR2723" type="linear" slope="0.5"></feFuncR>
                                  <feFuncG id="SvgjsFeFuncG2724" type="linear" slope="0.5"></feFuncG>
                                  <feFuncB id="SvgjsFeFuncB2725" type="linear" slope="0.5"></feFuncB>
                                  <feFuncA id="SvgjsFeFuncA2726" type="identity"></feFuncA>
                                </feComponentTransfer>
                              </filter>
                            </defs>
                            <g id="SvgjsG2709" class="apexcharts-radialbar">
                              <g id="SvgjsG2710">
                                <g id="SvgjsG2711" class="apexcharts-tracks">
                                  <g id="SvgjsG2712" class="apexcharts-radialbar-track apexcharts-track" rel="1">
                                    <path id="apexcharts-radialbarTrack-0"
                                      d="M 23.115853658536565 111.49999999999999 A 90.88414634146343 90.88414634146343 0 0 1 204.88414634146343 111.5"
                                      fill="none" fill-opacity="1" stroke="rgba(230,230,232,0.85)" stroke-opacity="1"
                                      stroke-linecap="round" stroke-width="4.298780487804879" stroke-dasharray="0"
                                      class="apexcharts-radialbar-area"
                                      data:pathOrig="M 23.115853658536565 111.49999999999999 A 90.88414634146343 90.88414634146343 0 0 1 204.88414634146343 111.5">
                                    </path>
                                  </g>
                                </g>
                                <g id="SvgjsG2714">
                                  <g id="SvgjsG2718" class="apexcharts-series apexcharts-radial-series"
                                    seriesName="Progress" rel="1" data:realIndex="0">
                                    <path id="SvgjsPath2719"
                                      d="M 23.115853658536565 111.49999999999999 A 90.88414634146343 90.88414634146343 0 0 1 183.62129527249004 53.08079681476909"
                                      fill="none" fill-opacity="0.85" stroke="rgba(255,159,67,0.85)" stroke-opacity="1"
                                      stroke-linecap="round" stroke-width="8.597560975609758" stroke-dasharray="0"
                                      class="apexcharts-radialbar-area apexcharts-radialbar-slice-0" data:angle="140"
                                      data:value="78" selected="true" filter="url(#SvgjsFilter2721)" index="0" j="0"
                                      data:pathOrig="M 23.115853658536565 111.49999999999999 A 90.88414634146343 90.88414634146343 0 0 1 183.62129527249004 53.08079681476909">
                                    </path>
                                  </g>
                                  <circle id="SvgjsCircle2715" r="83.73475609756099" cx="114" cy="111.5"
                                    class="apexcharts-radialbar-hollow" fill="transparent"></circle>
                                  <g id="SvgjsG2716" class="apexcharts-datalabels-group"
                                    transform="translate(0, 0) scale(1)" style="opacity: 1;"><text id="SvgjsText2717"
                                      font-family="Helvetica, Arial, sans-serif" x="114" y="110.5" text-anchor="middle"
                                      dominant-baseline="auto" font-size="26px" font-weight="500" fill="#444050"
                                      class="apexcharts-text apexcharts-datalabel-value"
                                      style="font-family: Helvetica, Arial, sans-serif;">78%</text></g>
                                </g>
                              </g>
                            </g>
                            <line id="SvgjsLine2727" x1="0" y1="0" x2="228" y2="0" stroke="#b6b6b6" stroke-dasharray="0"
                              stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line>
                            <line id="SvgjsLine2728" x1="0" y1="0" x2="228" y2="0" stroke-dasharray="0" stroke-width="0"
                              stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line>
                          </g>
                          <g id="SvgjsG2706" class="apexcharts-annotations"></g>
                        </svg>
                        <div class="apexcharts-legend"></div>
                      </div>
                    </div>
                    <div class="mt-3 text-center">
                      <small class="text-muted mt-3">$21k Expenses more than last month</small>
                    </div>
                    <div class="resize-triggers">
                      <div class="expand-trigger">
                        <div style="width: 367px; height: 177px;"></div>
                      </div>
                      <div class="contract-trigger"></div>
                    </div>
                  </div>
                </div>
              </div> {% endcomment %}
              <div class="col-lg-6 mb-6">
                <div class="card h-100">
                  <div class="card-body">
                    <div class="row">

                      <div class="col-lg-7">
                        <div class="d-flex align-items-center">
                          <h3 class="fw-medium mb-0 card-title user_name">{{ user_info.FIRST_NAME }} {{ user_info.LAST_NAME }}</h3>
                          {% comment %} <button class="btn btn-primary ms-4 p-2 px-3 mt-sm-0"><span
                              class="rounded-circle d-flex align-items-center me-2 p-50 edit_icon_bg"><i
                                class="ti ti-pencil ti-sm"></i></span><a href=""
                              class="btn-link text-white">Edit</a></button> {% endcomment %}
                        </div>
                        <p class="card-subtitle">{{ user_info.CITY }} ,{{ user_info.COUNTRY }}</p>
                        <hr class="my-10">
                        <ul class="list-unstyled my-3 py-1">
                          <li class="d-flex align-items-center mb-4">
                            <span class="fw-medium mx-2">Email:</span>
                            <span>{{user_info.EMAIL}}</span>
                          </li>
                          <li class="d-flex align-items-center mb-4">
                            <span class="fw-medium mx-2">Contact:</span>
                            <span>{{user_info.PHONE_NUMBER}}</span>
                          </li>
                        </ul>
                      </div>

                      <div class="col-lg-5">
                        <div class="d-flex align-items-center justify-content-center">
                          {% comment %} <img src="../../../static/assets/img/avatars/1.png" alt="user-avatar"
                            class="d-block w-px-200 h-px-200 rounded-circle" id="uploadedAvatar"> {% endcomment %}
                            <img src="../../../static/assets/img/illustrations/card-advance-sale.png" height="250" alt="view sales">


                        </div>
                        {% comment %} <div class="d-flex align-items-center justify-content-center mt-4">
                          <!-- Completed segments -->
                          <div class="progress-segment completed" style="width: 50px;"></div>
                          <div class="progress-segment completed" style="width: 50px;"></div>
                          <div class="progress-segment completed" style="width: 50px;"></div>
                          <div class="progress-segment completed" style="width: 50px;"></div>
                          <div class="progress-segment completed" style="width: 50px;"></div>

                          <!-- Incomplete segments -->
                          <div class="progress-segment" style="width: 50px;"></div>
                          <div class="progress-segment" style="width: 50px;"></div>
                          <div class="progress-segment" style="width: 50px;"></div>
                          <div class="progress-segment" style="width: 50px;"></div>
                          <div class="progress-segment" style="width: 50px;"></div>
                        </div> {% endcomment %}
                        <div class="row mt-3">
                          {% comment %} <div class="col-6">
                            <p class="mb-0 d-flex align-items-center justify-content-center">YOUR RATING</p>
                            <h3 class="d-flex align-items-center justify-content-center">53%</h3>
                          </div> {% endcomment %}
                          {% comment %} <div class="col-6">
                            <p class="mb-0 d-flex align-items-center justify-content-center">ACTIVITY</p>
                            <h3 class="d-flex align-items-center justify-content-center">90%</h3>
                          </div> {% endcomment %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container-xxl container-p-y">

            {% comment %} <div class="mt-0 mb-2">
              <div class="dataTables_wrapper dt-bootstrap5 no-footer">
                <div class="card-header flex-column flex-md-row">
                  <div class="head-label text-center">
                    <h3 class="card-title mb-0">JOBS POSTED</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length">
                      <label>Show
                        <select class="form-select">
                          <option value="7">7</option>
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="75">75</option>
                          <option value="100">100</option>
                        </select> entries
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end mt-n6 mt-md-0">
                    <div class="dataTables_filter">
                      <label>Search:<input type="search" class="form-control" placeholder="">
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div> {% endcomment %}

            <!-- Navbar pills -->
            <div class="row">
              <div class="col-md-12">
                  <div class="nav-align-top">
                      <ul class="nav nav-pills flex-column flex-sm-row mt-0 mb-6 gap-2 gap-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0);" id="jobs-tab"><i
                                    class="ti ti-briefcase ti-sm me-1_5"></i>Jobs Posted</a>
                        </li>
                      </ul>
                  </div>
              </div>
          </div>
          <!--/ Navbar pills -->

            <!-- Job Posted Cards -->
            <div class="row g-6">
              <div id="job-list">
                {% for job in job_postings %}
                <div class="card joblist-card mb-6">
                  <div class="card-body">
                    <div class="d-flex mb-4">
                      <div class="avatar-md">
                        <div
                          class="align-items-center text-white d-flex fw-normal justify-content-center w-100 h-100 bg-light rounded">
                          <img src="../../../static/assets/img/companies/hirexcel.png" alt="" class="avatar-xs">
                        </div>
                      </div>
                      <div class="ms-3 flex-grow-1">
                        <a href="#!">
                          <h5 class="mb-0 job-title">{{ job.job_title }}</h5>
                        </a>
                        <p class="company-name text-muted mb-0">{{ job.job_position }} | {{job.company_name}}</p>
                      </div>
                      {% comment %} <div>
                        <button type="button" class="btn text-primary bg-primary-subtle btn-icon custom-toggle"
                          id="bookmarkToggle">
                          <span class="icon-on">
                            <i class="fa-regular fa-bookmark"></i>
                          </span>
                          <span class="icon-off d-none">
                            <i class="fa-solid fa-bookmark"></i>
                          </span>
                        </button>
                      </div> {% endcomment %}
                    </div>
                    <p class="text-muted job-description">{{ job.job_description }}.</p>

                    <h6 class="mb-0 job-skill">Required Skills</h6>
                    <div class="d-flex flex-row flex-nowrap overflow-auto py-2">
                      {% for skill in job.required_skills %}
                      <span class="badge bg-primary-subtle text-primary me-1">{{ skill }}</span>
                      {% endfor %}
                    </div>


                    <h6 class="mb-0 personality-traits">Personality Traits</h6>
                    <div class="d-flex flex-row flex-wrap overflow-auto py-2">
                      {% for trait in job.personality_traits %}
                      <span class="badge bg-primary-subtle text-primary me-1 mb-1">{{ trait }}</span>
                      {% endfor %}
                    </div>

                    <div class="d-flex flex-row flex-nowrap overflow-auto py-2">
                      <div>
                        <h6 class="mb-0 cog-weight">Cognitive Weightage</h6>
                        <h4 class="mb-0 cog-weight">{{job.cog_weight}}</h4>
                      </div>
                      <div class=" px-10">
                        <h6 class="mb-0 tech-weight">Technical Weightage</h6>
                        <h4 class="mb-0 tech-weight">{{job.tech_weight}}</h4>
                      </div>
                      <div class=" px-10">
                        <h6 class="mb-0 tech-weight">Technical Assessment Level</h6>
                        <div class="d-flex flex-row flex-nowrap overflow-auto py-2">
                          {% for level in job.tech_assessment_level %}
                          <span class="badge bg-info-subtle text-info me-1">{{ level }}</span>
                          {% endfor %}
                        </div>
                      </div>

                    </div>

                  </div>
                  <div class="card-footer border-top-dashed">
                    <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                      <div>
                        <i class="ti ti-briefcase align-bottom me-1"></i>
                        <span class="job-type">{{ job.job_type }}</span>
                      </div>
                      <div>
                        <i class="ti ti-stars align-bottom me-1"></i>
                        <span class="job-experience">{{job.experience_requirements}}</span>
                      </div>
                      <div>
                        <i class="ti ti-map-pin align-bottom me-1"></i>
                        <span class="job-location">{{ job.city }}, {{ job.country }}</span>
                      </div>
                      <div>
                        <i class="ti ti-certificate align-bottom me-1"></i>
                        {{job.required_qualifications}}
                      </div>
                      {% comment %} <div>
                        <i class="ti ti-clock align-bottom me-1"></i>
                        <span class="job-postdate">15 Sep, 2022</span>
                      </div> {% endcomment %}
                      <div>
                        {% if job.job_post_id in applied_job_ids %}
                          <button type="button" class="btn btn-success viewjob-list" disabled >
                            Applied
                            <i class="ti ti-check align-bottom ms-1"></i>
                          </button>
                        {% else %}
                            <button type="button"
                              class="btn btn-primary viewjob-list"
                              data-bs-toggle="modal"
                              data-bs-target="#hirexcel_quizzes_modal"
                              data-job-title="{{ job.job_title }}"
                              data-company-name="{{ job.company_name }}"
                              data-job-description="{{ job.job_description }}"
                              data-job-position="{{ job.job_position }}"
                              data-job-post-id="{{ job.job_post_id }}"
                              data-user-id="{{ user_info.USER_ID }}"
                              {% if job.job_post_id in applied_job_ids %}disabled{% endif %}
                              >
                              Start Quiz
                              <i class="ti ti-arrow-narrow-right align-bottom ms-1"></i>
                            </button>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <!--/ Job Posted Cards -->

          </div>
          <!--/ Content -->

          <!-- Footer -->
          <footer class="content-footer footer bg-footer-theme">
            <div class="container-xxl">
              <div
                class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
                <div class="text-body">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , HIREXCEL. All rights reserved.
                </div>
                <div class="d-none d-lg-inline-block">
                  <a href="#" class="footer-link me-4"
                    target="_blank">License</a>
                  {% comment %} <a href="#" target="_blank" class="footer-link me-4">More
                    Themes</a> {% endcomment %}

                  {% comment %} <a href="#" target="_blank"
                    class="footer-link me-4">Documentation</a> {% endcomment %}

                  <a href="#" target="_blank"
                    class="footer-link d-none d-sm-inline-block">Support</a>
                </div>
              </div>
            </div>
          </footer>
          <!-- / Footer -->

          <div class="content-backdrop fade"></div>

        </div>
        <!--/ Content wrapper -->
      </div>
      <!--/ Layout container -->

    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="hirexcel_quizzes_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCenterTitle">Quiz Overview</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <hr>
        <div class="modal-body">
          <!-- Job & Company Details -->
          <div class="d-flex mb-4">
            <div class="avatar-md">
              <div class="align-items-center text-white d-flex fw-normal justify-content-center w-100 h-100 bg-light rounded">
                <img src="../../../static/assets/img/companies/hirexcel.png" alt="" class="avatar-xs">
              </div>
            </div>
            <div class="ms-3 flex-grow-1">
              <h5 class="mb-0 job-title">Product Designer</h5>
              <p class="company-name text-muted mb-0">Themesbrand</p>
            </div>
          </div>

          <!-- Description -->
          <p class="job-description">
            This quiz is your next step towards ReactJS positions in Silicon Valley, and other top U.S companies.
          </p>

          <!-- Quiz Phases Overview -->
          <div class="quiz-phases">
            <h5 class="fw-bold mb-2">Quiz Phases Overview</h5>
            <ul>
              <li>
                <strong>Phase 1: Personality Assessment</strong>
                <ul>
                  <li>Disc Assessment</li>
                  <li>Big Five Assessment</li>
                </ul>
              </li>
              <li>
                <strong>Phase 2: Cognitive Assessment</strong>
                <ul>
                  <li>Non-Verbal</li>
                  <li>Verbal</li>
                </ul>
              </li>
              <li>
                <strong>Phase 3: Technical Assessment</strong>
                <ul>
                  <li>Technical questions based on difficulty level:
                    <ul>
                      <li>Beginner</li>
                      <li>Intermediate</li>
                      <li>Hard</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <!-- Fair Assessment Policy -->
          <h5 class="fw-bold mt-4">Fair Assessment Policy</h5>
          <p>To ensure fairness, we track browser activity and submission patterns to detect any signs of cheating during the test attempt.</p>
          <div>
            <p class="mb-0">During the test attempt, DO NOT:</p>
            <ul>
              <li>Open new browser tabs or windows</li>
              <li>Capture screenshots</li>
              <li>Conduct any online searches for answers</li>
              <li>Utilize any tools to answer questions (such as ChatGPT, browser plugins, etc.)</li>
            </ul>
            <div class="alert alert-warning alert-outline-warning">
              <i class="ti ti-alert-triangle-filled"></i>
              <span>Violation of this policy can result in a temporary or permanent ban from the platform.</span>
            </div>
          </div>
        </div>

        <!-- Footer Actions -->
        <hr>
        <div class="d-flex flex-column flex-sm-row justify-content-sm-center justify-content-md-end gap-4 mt-4 p-6">
          <button class="btn bg-light px-5 py-2" style="cursor: default;">
            <i class="ti ti-alarm ti-sm"></i>
            Max. Time 1 hour
          </button>
          <form action="{% url 'disc_quiz_start_redirect' %}" method="post">
            {% csrf_token %}
            <!-- Hidden fields to store job_post_id and user_id -->
            <input type="hidden" name="job_post_id" id="job_post_id">
            <input type="hidden" name="user_id" id="user_id">
            <button type="submit" class="btn btn-primary">
              <i class="ti ti-player-play ti-sm me-4"></i>
              Accept & Start Quiz
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--/ Modal -->


  <!-- Drag Target Area To SlideIn Menu On Small Screens -->
  <div class="drag-target"></div>

  <!--/ Layout wrapper -->

  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->

  <script src="../../../static/assets/vendor/libs/jquery/jquery.js"></script>
  <script src="../../../static/assets/vendor/libs/popper/popper.js"></script>
  <script src="../../../static/assets/vendor/js/bootstrap.js"></script>
  <script src="../../../static/assets/vendor/libs/node-waves/node-waves.js"></script>
  <script src="../../../static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="../../../static/assets/vendor/libs/hammer/hammer.js"></script>
  <script src="../../../static/assets/vendor/libs/i18n/i18n.js"></script>
  <script src="../../../static/assets/vendor/libs/typeahead-js/typeahead.js"></script>
  <script src="../../../static/assets/vendor/js/menu.js"></script>
  {% comment %} <script src="../../../static/assets/vendor/js/script.js"></script> {% endcomment %}
  <script src="../../../static/assets/vendor/js/job_seeker_dashboard.js"></script>

  <!-- endbuild -->

  <!-- Vendors JS -->
  <script src="../../../static/assets/vendor/libs/apex-charts/apexcharts.js"></script>
  <script src="../../../static/assets/vendor/libs/swiper/swiper.js"></script>
  <script src="../../../static/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>

  <!-- Main JS -->
  <script src="../../../static/assets/js/main.js"></script>

  <!-- Page JS -->
  <script src="../../../static/assets/js/dashboards-analytics.js"></script>

  <!-- <script>
    // Jobs BookMark Toggle
    document.getElementById('bookmarkToggle').addEventListener('click', function () {
      const iconOn = this.querySelector('.icon-on');
      const iconOff = this.querySelector('.icon-off');

      iconOn.classList.toggle('d-none');
      iconOff.classList.toggle('d-none');
    });
  </script> -->
</body>

</html>