<!doctype html>

<html lang="en" class="light-style layout-wide customizer-hide" dir="ltr" data-theme="theme-default"
  data-assets-path="../../static/assets/" data-template="horizontal-menu-template" data-style="light">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Login | JobSeeker</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="../../static/assets/img/favicon/hx.ico" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap"
    rel="stylesheet" />

  <!-- Icons -->
  <link rel="stylesheet" href="../../static/assets/vendor/fonts/fontawesome.css" />
  <link rel="stylesheet" href="../../static/assets/vendor/fonts/tabler-icons.css" />
  <link rel="stylesheet" href="../../static/assets/vendor/fonts/flag-icons.css" />

  <!-- Core CSS -->

  <link rel="stylesheet" href="../../static/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="../../static/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />

  <link rel="stylesheet" href="../../static/assets/css/demo.css" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="../../static/assets/vendor/libs/node-waves/node-waves.css" />

  <link rel="stylesheet" href="../../static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
  <link rel="stylesheet" href="../../static/assets/vendor/libs/typeahead-js/typeahead.css" />
  <!-- Vendor -->
  <link rel="stylesheet" href="../../static/assets/vendor/libs/@form-validation/form-validation.css" />

  <!-- Page CSS -->
  <!-- Page -->
  <link rel="stylesheet" href="../../static/assets/vendor/css/pages/page-auth.css" />

  <!-- Helpers -->
  <script src="../../static/assets/vendor/js/helpers.js"></script>
  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->

  <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
  <script src="../../static/assets/vendor/js/template-customizer.js"></script>

  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="../../static/assets/js/config.js"></script>
</head>

<body>
  <!-- Content -->

  <div class="authentication-wrapper authentication-cover">
    <!-- Logo -->
    <a href="{% url 'start_screen' %}" class="app-brand auth-cover-brand">
      <span class="app-brand-logo demo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.78 487.47">
          <g style="isolation: isolate;">
            <g id="Layer_2" data-name="Layer 2">
              <g id="OBJECTS">
                <g>
                  <g>
                    <path d="m353.78,131.18v178.34c-22.45-44.78-122.35-74.91-122.35-74.91v-117.55c0-70.95,101.99-83.97,118.85-15.05,2.29,9.35,3.5,19.12,3.5,29.17Z" style="fill: #7367f0;"/>
                    <path d="m0,366.49v-178.34c22.45,44.78,122.35,74.91,122.35,74.91v106.66c0,78.16-116.8,83.13-122.07,5.15-.19-2.77-.28-5.56-.28-8.38Z" style="fill: #7367f0;"/>
                  </g>
                  <path d="m353.77,247.77v47.58c-22.45-44.78-122.35-74.91-122.35-74.91v-52.94h.82c54.16,0,101.32,32.67,121.54,80.27Z" style="fill: #1f1e21; mix-blend-mode: overlay; opacity: .2;"/>
                  <path d="m0,239.69v-47.58c22.45,44.78,122.35,74.91,122.35,74.91v52.94h-.82c-54.16,0-101.32-32.67-121.54-80.27Z" style="fill: #1f1e21; mix-blend-mode: overlay; opacity: .2;"/>
                  <g>
                    <path d="m353.77,290.87v74.25c0,15.36-2.84,30.08-8.02,43.62-20.14-59.54-75.99-102.62-142.08-103.71-.85-.08-1.71-.12-2.58-.12h-78.89C56.73,304.91,3.28,253.5,0,188.85v-66.5c0-15.36,2.84-30.04,8-43.58,7.59,22.49,20.29,42.63,36.72,59.06,27.64,27.64,65.82,44.73,107.98,44.73h79.53c62.81,0,114.58,47.35,121.54,108.31Z" style="fill: #00b5e8;"/>
                    <path d="m353.77,290.87v74.25c0,15.36-2.84,30.08-8.02,43.62-20.14-59.54-75.99-102.62-142.08-103.71-.85-.08-1.71-.12-2.58-.12h-78.89C56.73,304.91,3.28,253.5,0,188.85v-66.5c0-15.36,2.84-30.04,8-43.58,7.59,22.49,20.29,42.63,36.72,59.06,27.64,27.64,65.82,44.73,107.98,44.73h79.53c62.81,0,114.58,47.35,121.54,108.31Z" style="fill: #7367f0;"/>
                    <path d="m353.77,290.87v14.16c-7.05-61.86-59.58-109.9-123.32-109.9h-80.69c-42.78,0-81.2-17.67-109.57-45.39C7.92,118.23,6.58,82.48,8,78.77c7.59,22.49,20.29,42.63,36.72,59.06,27.64,27.64,65.82,44.73,107.98,44.73h79.53c62.81,0,114.58,47.35,121.54,108.31Z" style="fill: #fff; mix-blend-mode: overlay; opacity: .5;"/>
                    <path d="m345.75,408.73c-7.26,19.07-19.17,35.85-34.34,48.96-21.44,18.55-49.41,29.77-79.99,29.77v-152.22c0-15.89-12.2-28.92-27.75-30.22,66.09,1.09,121.94,44.16,142.08,103.71Z" style="fill: #017dc0;"/>
                  </g>
                  <g>
                    <path d="m152.71,182.56c-42.16,0-80.34-17.09-107.98-44.73-16.43-16.43-29.13-36.57-36.72-59.06,7.24-19.03,19.11-35.79,34.24-48.9C63.7,11.26,91.71,0,122.35,0v152.22c0,16.76,13.59,30.34,30.36,30.34Z" style="fill: #7367f0;"/>
                    <path d="m152.71,182.56c-42.16,0-80.34-17.09-107.98-44.73-16.43-16.43-29.13-36.57-36.72-59.06,2.31-6.1,5.11-11.96,8.33-17.54,6.31,22.18,20.29,49.17,33.64,65.6,23.07,28.47,56.32,48.67,94.95,54.71h.02c2.47.66,5.09,1.01,7.77,1.01Z" style="fill: #7367f0; mix-blend-mode: overlay; opacity: .7;"/>
                  </g>
                  <g>
                    <path d="m201.06,304.91c42.16,0,80.34,17.09,107.98,44.73,16.43,16.43,29.13,36.57,36.72,59.06-7.24,19.03-19.11,35.79-34.24,48.9-21.46,18.61-49.47,29.87-80.11,29.87v-152.22c0-16.76-13.59-30.34-30.36-30.34Z" style="fill: #7367f0;"/>
                    <path d="m201.06,304.91c42.16,0,80.34,17.09,107.98,44.73,16.43,16.43,29.13,36.57,36.72,59.06-2.31,6.1-5.11,11.96-8.33,17.54-6.31-22.18-20.29-49.17-33.64-65.6-23.07-28.47-56.32-48.67-94.95-54.71h-.02c-2.47-.66-5.09-1.01-7.77-1.01Z" style="fill: #7367f0; mix-blend-mode: overlay; opacity: .7;"/>
                    <path d="m201.06,304.91c31.75-.59,63.56,9.39,89.32,27.96,25.8,18.45,45.67,45.27,55.29,75.53-2.75-7.41-5.88-14.69-9.7-21.6-26.45-49.51-78.84-81.12-134.91-81.9h0Z" style="fill: #f5f6f6;"/>
                  </g>
                  <path d="m152.71,182.56c-31.75.59-63.56-9.39-89.32-27.96-25.8-18.45-45.67-45.27-55.29-75.53,2.75,7.41,5.88,14.69,9.7,21.6,26.45,49.51,78.84,81.12,134.91,81.9h0Z" style="fill: #f5f6f6;"/>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </span>
      <span class="app-brand-text demo text-heading fw-bold">Hirexcel</span>
    </a>
    <!-- /Logo -->
    <div class="authentication-inner row m-0">
      <!-- /Left Text -->
      <div class="d-none d-lg-flex col-lg-8 p-0">
        <div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center">
          <img src="../../static/assets/img/illustrations/auth-login-illustration-light.png" alt="auth-login-cover"
            class="my-5 auth-illustration" data-app-light-img="illustrations/auth-login-illustration-light.png"
            data-app-dark-img="illustrations/auth-login-illustration-dark.png" />

          <img src="../../static/assets/img/illustrations/bg-shape-image-light.png" alt="auth-login-cover" class="platform-bg"
            data-app-light-img="illustrations/bg-shape-image-light.png"
            data-app-dark-img="illustrations/bg-shape-image-dark.png" />
        </div>
      </div>
      <!-- /Left Text -->

      <!-- Login -->
      <div class="d-flex col-12 col-lg-4 align-items-center authentication-bg p-sm-12 p-6">
        <div class="w-px-400 mx-auto mt-12 pt-5">
          <h4 class="mb-1">Welcome to Hirexcel! 👋</h4>
          <p class="mb-6">Please sign-in to your account and start the job hunting</p>

          <form id="formAuthentication" class="mb-6" action="{% url 'jobseeker_login' %}" method="POST">
            {% csrf_token %}
            <div class="mb-6">
              <label for="email" class="form-label">Email or Username</label>
              <input type="emial" class="form-control" id="email" name="email-username"
                placeholder="Enter your email or username" autofocus required />
            </div>
            <div class="mb-6 form-password-toggle">
              <label class="form-label" for="password">Password</label>
              <div class="input-group input-group-merge">
                <input type="password" id="password" class="form-control" name="password"
                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                  aria-describedby="password" required />
                <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
              </div>
            </div>
            {% if messages %}
                  <div class="alert alert-danger" role="alert">
                    {% for message in messages %} {{ message }} {% endfor %}
                  </div>
            {% endif %}
            {% comment %} <div class="my-8">
              <div class="d-flex justify-content-between">
                <div class="form-check mb-0 ms-2">
                  <input class="form-check-input" type="checkbox" id="remember-me" />
                  <label class="form-check-label" for="remember-me"> Remember Me </label>
                </div>
                <a href="auth-forgot-password-cover.html">
                  <p class="mb-0">Forgot Password?</p>
                </a>
              </div>
            </div> {% endcomment %}
            <button type="submit" class="btn btn-primary d-grid w-100">Sign in</button>
          </form>

          <p class="text-center">
            <span>New on our platform?</span>
            <a href="{% url 'job_seeker_create_account' 1 %}">
              <span>Create an account</span>
            </a>
          </p>

          {% comment %} <div class="divider my-6">
            <div class="divider-text">or</div>
          </div> {% endcomment %}

          {% comment %} <div class="d-flex justify-content-center">
            <a href="javascript:;" class="btn btn-sm btn-icon rounded-pill btn-text-facebook me-1_5">
              <i class="tf-icons ti ti-brand-facebook-filled"></i>
            </a>

            <a href="javascript:;" class="btn btn-sm btn-icon rounded-pill btn-text-twitter me-1_5">
              <i class="tf-icons ti ti-brand-twitter-filled"></i>
            </a>

            <a href="javascript:;" class="btn btn-sm btn-icon rounded-pill btn-text-github me-1_5">
              <i class="tf-icons ti ti-brand-github-filled"></i>
            </a>

            <a href="javascript:;" class="btn btn-sm btn-icon rounded-pill btn-text-google-plus">
              <i class="tf-icons ti ti-brand-google-filled"></i>
            </a>
          </div> {% endcomment %}
        </div>
      </div>
      <!-- /Login -->
    </div>
  </div>

  <!-- / Content -->

  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->

  <script src="../../static/assets/vendor/libs/jquery/jquery.js"></script>
  <script src="../../static/assets/vendor/libs/popper/popper.js"></script>
  <script src="../../static/assets/vendor/js/bootstrap.js"></script>
  <script src="../../static/assets/vendor/libs/node-waves/node-waves.js"></script>
  <script src="../../static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="../../static/assets/vendor/libs/hammer/hammer.js"></script>
  <script src="../../static/assets/vendor/libs/i18n/i18n.js"></script>
  <script src="../../static/assets/vendor/libs/typeahead-js/typeahead.js"></script>
  <script src="../../static/assets/vendor/js/menu.js"></script>

  <!-- endbuild -->

  <!-- Vendors JS -->
  <script src="../../static/assets/vendor/libs/@form-validation/popular.js"></script>
  <script src="../../static/assets/vendor/libs/@form-validation/bootstrap5.js"></script>
  <script src="../../static/assets/vendor/libs/@form-validation/auto-focus.js"></script>

  <!-- Main JS -->
  <script src="../../static/assets/js/main.js"></script>

  <!-- Page JS -->
  <script src="../../static/assets/js/pages-auth.js"></script>
</body>

</html>